<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDk5Mu90-wYyEpgpeCsDJHwTMxK_yUuPX0</string>
	<key>GCM_SENDER_ID</key>
	<string>282260885656</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>jp.RoomSimulation</string>
	<key>PROJECT_ID</key>
	<string>roomsimulation-6243a</string>
	<key>STORAGE_BUCKET</key>
	<string>roomsimulation-6243a.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:282260885656:ios:6b870f0db35938257400ed</string>
</dict>
</plist>